.wrapper {
  margin: 0 2rem;
}

.container {
  max-width: 56rem; /* 以前は36remだった。その後50rem */
  padding: 0 1rem;
  margin: 0 auto 6rem;
  padding-top: 3rem;
  background-color: #F8F8F8;
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  /* margin: 3rem 0 0; */
  margin-top: 3rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

.lightBackToHome {
  margin-top: 3rem;
  padding-bottom: 1rem;
  color: #1d8bda;
}

.inlineBlock {
  display: inline-block;
}

@media screen and (max-width: 1100px) {
  .wrapper {
    margin: 0;
  }
}