.tmp {
    height: 1000px;
    width: 100%;
    background: #000;
    color: white;
}

.root {
    color: red;
    font-weight: bold;
}

.codeTone {
    color: skyblue;
    font-weight: bold;
}

.border {
    box-sizing: border-box;
}

.background {
    background-image: url(../public/images/背景.png);
    background-size: cover;
}

.checker {
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.75);
    background-size: cover;
    /* overflow: auto; */
    /* border: 1px solid; */
    /* width: 768px; ⭕️幅はもう少し余裕を持たせて、一番左に開放弦の度数を表示する必要がある。この数値を幾らか小さくしなければならないということ。 */
}

.codeSelector {
    font-size: 1.13rem;
    padding-left: 35px;
}

.heading {
    display: inline-block;
    margin: 10px 0;
    font-size: 1.8rem;
}

.codeNames {
    margin-bottom: 8px;
}

.codeToneDisplay {
    display: inline;
    margin-left: 30px;
}

.string {
    display: flex;
    /* flex-direction: row; */
}

.fingerBoard {
    height: 240px;
    width: 768px;
    background: #892F1B;
    border: 1px solid;    
}

.fret {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    top: 18px;
    border-right: 3px solid white;
    /* height: 35px; */
    width: 45px;
}

.degrees {
    /* position: relative; */
    /* right: 47px; */
    text-align: right;
    height: 1px;
}

