.tmp {
    /* height: 100%;
    width: 100%; */
    /* background: #000; */
    color: white;
}

.root {
    color: red;
    font-weight: bold;
}

.codeTone {
    color: skyblue;
    font-weight: bold;
}

.background {
    /* display: inline-block; */
    background-image: url(../public/images/背景.png);
    background-size: cover;
    height: 100%;
}

.checker {
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.75);
    background-size: cover;
    /* overflow: auto; */
    /* border: 1px solid; */
    /* width: 768px; ⭕️幅はもう少し余裕を持たせて、一番左に開放弦の度数を表示する必要がある。この数値を幾らか小さくしなければならないということ。 */
    height: 100%;
}

.codeSelector {
    font-size: 1.13rem;
    padding-left: 15px;
}

.heading {
    display: inline-block;
    margin: 10px 0;
    font-size: 1.8rem;
}

.codeToneDisplay {
    display: inline;
    margin-left: 30px;
}

.scroll {
    box-sizing: content-box;
    max-width: 750px;
    margin-top: 8px;
    height: 262px; /* ⭕️6弦のみだった時は、224px にしていた。 → 261pxへ */
    /* overflow-y: auto; */
    overflow-x: auto;
}

.fingerBoard {
    width: 750px;
    height: 224px;
    overflow: hidden;
    background: #892F1B;
    border: 1px solid #555;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
}

/* .fretNumberScroll {
    box-sizing: content-box;
    max-width: 768px;
    overflow-x: auto;
} */

.fret {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    border-bottom: 3px solid #AAA;
    /* top: 18px; */
    border-right: 3.5px solid white;
    /* height: 35px; */
    width: 44px;
}

.fretNumbersWrapper {
    white-space: nowrap;
    /* max-height: 10px; */
}

.borderless {
    border: none;   
}

.fretNumber {
    box-sizing: border-box;
    position: relative;
    top: 2px;
    height: 0;
    left: 20px;
    width: 41px;
    /* overflow-y: hidden; */
    text-align: right;
    font-size: 14px;
    color: #BBB;
}

.outside {
    width: 30px;
    color: #AAA;
    background-color: black;
    border: none;
    border-bottom: 3px solid #AAA;
}

.open {
    /* box-sizing: content-box; */
    width: 34px;
    text-align: left;
    background-color: black;
    border-right: 7px solid white;
}

.degrees {
    box-sizing: border-box;
    position: relative;
    top: 14px;
    text-align: right;
    font-size: 15px;
    height: 1px;
}


