.tmp {
    /* height: 100%;
    width: 100%; */
    /* background: #000; */
    color: white;
}

.root {
    color: red;
    font-weight: bold;
}

.codeTone {
    color: skyblue;
    font-weight: bold;
}

.background {
    /* display: inline-block; */
    background-image: url(../public/images/背景.png);
    background-size: cover;
    height: 100%;
}

.checker {
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.75);
    background-size: cover;
    /* overflow: auto; */
    /* border: 1px solid; */
    /* width: 768px; ⭕️幅はもう少し余裕を持たせて、一番左に開放弦の度数を表示する必要がある。この数値を幾らか小さくしなければならないということ。 */
    height: 100%;
}

.codeSelector {
    font-size: 1.13rem;
    padding-left: 20px;
}

.heading {
    display: inline-block;
    margin: 10px 0;
    font-size: 1.8rem;
}

.codeToneDisplay {
    display: inline;
    margin-left: 30px;
}

.scroll {
    box-sizing: content-box;
    max-width: 768px;
    margin-top: 8px;
    height: 224px;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid #888;
    border-right: 1px solid #444;
    border-left: 1px solid #444;
}

.string {
    display: block;
    position: relative;
    bottom: 3px;
    /* flex-direction: row; */
    border-bottom: 2px solid #BBB;
}

.fingerBoard {
    width: 768px;
    background: #892F1B;
}


.fret {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    /* border-bottom: 3px solid #AAA; */
    /* top: 18px; */
    border-right: 3px solid white;
    /* height: 35px; */
    width: 44px;
}

.outside {
    /* position: relative;
    left: 10px; */
    width: 38px;
    background-color: black;
    border: none;
}

.open {
    /* box-sizing: content-box; */
    width: 32px;
    background-color: black;
    border-right: 5px solid white;
}

.degrees {
    box-sizing: border-box;
    position: relative;
    /* border-bottom: 3px solid #AAA; */
    top: 14px;
    /* left: px; */
    /* position: relative; */
    /* right: 47px; */
    text-align: right;
    font-size: 15px;
    height: 1px;
}

