.tmp {
    background: #000;
    color: silver;
}

.root {
    color: red;
    font-weight: bold;
}

.codeTone {
    color: skyblue;
    font-weight: bold;
}

.border {
    box-sizing: border-box;
}

.checker {
    margin-left: 50px;
    box-sizing: border-box;
    /* overflow: auto; */
    /* border: 1px solid; */
    /* width: 768px; ⭕️幅はもう少し余裕を持たせて、一番左に開放弦の度数を表示する必要がある。この数値を幾らか小さくしなければならないということ。 */
}

.codeSelector {
    font-size: 20px;
    margin-right: 30px;
}

.codeToneDisplay {
    display: inline;
}

.string {
    display: flex;
    /* flex-direction: row; */
}

.fingerBoard {
    height: 240px;
    width: 768px;
    background: #892F1B;
    border: 1px solid;    
}

.fret {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    top: 18px;
    border-right: 3px solid #000;
    /* height: 35px; */
    width: 45px;
}

.degrees {
    position: relative;
    right: 47px;
    text-align: right;
    height: 1px;
}

