html,
body {
    height: 100%;
    
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

#__next {
    height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.string {
    display: block;
    position: relative;
    bottom: 6px;
    white-space: nowrap;
}

.string1 {
    border-bottom: 1.75px solid #BBB;
}

.string2 {
    border-bottom: 2px solid #BBB;
}

.string3 {
    border-bottom: 2.5px solid #BBB;
}

.string4 {
    border-bottom: 3px solid #BBB;
}

.string5 {
    border-bottom: 3.5px solid #BBB;
}

.string6 {
    border-bottom: 3.75px solid #BBB;
}