.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  text-align: center;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  text-align: center;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 1rem 1rem 0;
}

.headingLg2 {
  font-size: 1.8rem;
  line-height: 1.4;
  margin: 1rem 0 1rem 2rem;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.width {
  width: 100px;
}

.sectionWidth {
  margin: 0 auto;
  max-width: 36rem;
}

.section {
  margin: 1rem 0;
}

.learnGrid {
  display: grid;
  display: -ms-grid;
  grid-template-columns: auto auto;
  -ms-grid-columns: auto auto;
  grid-column-gap: 20px;
}

.nextjs {
  grid-row: 1 / 2;
}

.typexcript {
  grid-column: 2 / 3;
}

.center {
  text-align: center;
  margin: 0 auto;
}

/* .lightLink {
    color: #1D8BDA;
} */

.inlineBlock {
  display: inline-block;
}

.headingM {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.flexContainer {
  display: flex;
  max-width: 50rem;
}

.logoSize {
  width: 170px;
  margin: 0 auto;
}

.MDNAlternativeImg {
  position: relative;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 340px;
  opacity: 0.85;
}

.learnSectMDNDescription {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  font-size: 1rem;
}

.learnSectDescription {
  max-width: 400px;
  margin: 0 auto;
  font-size: 1rem;
}

.learnList {
  list-style: disc;
  margin-bottom: 5px;
}

.toRight {
  position: relative;
  left: 20px;
}

.headingNextjs {
  margin-top: 2rem;
  /* margin-bottom: -0.5rem; */
}

.tsLogo {
  margin-bottom: 8px;
}

.videoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  min-width: 392px;
  min-height: 220.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog {
  padding-bottom: 0.1rem;
}

@media screen and (max-width: 768px) {
  /*ウィンドウ幅が最大600pxまでの場合に適用*/
  .sectionWidth {
    margin: 0 auto;
    max-width: 28.5rem;
  }

  .MDNAlternativeImg {
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    opacity: 0.85;
  }

  .flexContainer {
    display: block;
  }

  .learnSectDescription {
    max-width: 500px;
    margin: 0 auto;
    font-size: 1rem;
  }

  .othersFlexContainer {
    display: flex;
    flex-direction: column-reverse;
  }

  .video {
    margin: 1.3rem auto 0 auto;
  }
}

@media screen and (max-width: 600px) {
  /*ウィンドウ幅が最大600pxまでの場合に適用*/
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }

  .logoSize {
    width: 160px;
    margin: 0 auto;
  }

  .tsLogo {
    margin-bottom: 8px;
  }

  .learnSectDescription {
    max-width: 435px;
    margin: 0 auto;
    font-size: 1rem;
  }

  .learnGrid {
    display: block;
  }

  .MDNAlternativeImg {
    min-width: 280px;
  }

  .video {
    padding: 0 0.5rem;
    /* max-width: 200px; */
    min-height: 201px;
    min-width: 100vw;
    height: auto;
  }
}
