.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingLg2 {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0 1rem 2rem;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: #666;
}

.width {
    width: 100px;
}

.section {
    margin: 1rem 0;
}

.center {
    text-align: center;
    margin: 0 auto;
}

/* .lightLink {
    color: #1D8BDA;
} */

.mobileImage {
    width: 170px;
    margin: 0 auto;
}

.mdnDescription {
    max-width: 400px;
    margin: 0 auto;
    font-size: 1rem;
}

.headingM {
    margin-bottom: 1rem;
}

@media screen and (max-width: 600px) { /*ウィンドウ幅が最大600pxまでの場合に適用*/
    .h4Small {
        font-size: 1.13rem;
    }
    
    .mobileImage {
        width: 160px;
        margin: 0 auto;
    }
    
    .learnList {
        display: inline-block;
        max-width: 350px;
        font-size: 1rem;
    }
}